.MuiTableHead-root{
    background-color: #3f51b5 !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: white !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
    color: white !important;
}

.MuiTableCell-head {
    color: white !important;
}

.MuiTableCell-root {
    padding: 8px !important;
}

.MuiTablePagination-root {
    padding: 0px !important;
}