.div_principal{
    height: 100%;
}

.row{
    margin-left: 10px;
}

.container_div{
    display: block;
    float: left;
}

.menu_list{
    float: left;
    display: block;
    padding-left: 10px;
    margin-bottom: 150px;
}

.contenedor{
    background-color: #F5F6FA;
    border-color: #000;
    border: 1px solid #ccc;
    padding: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 100px !important;
    min-height: 540px;
}

.div_infouser {
    padding: 25px;
    text-align: center;
}

.div_name_info{
}

.button_info {
    margin: 0px !important;
}

.div_correo_info{
    margin-bottom: 12px;
}

.div_button_info {
    margin-top: 12px;
}

.p_bienvenida{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3f51b5;
}

@media screen and (max-width: 541px) {
    .menu_list{
        display: none;
        width: 100%;
        padding-left: 0px;
        background-color: white;
        z-index: 1;
        padding-right: 0px;
    }

    .row{
        margin-left: 0px;
    }  

    .container_div{
        flex: 0 auto !important;
        width: 100% !important;
    }

    .contenedor{
        background-color: white;
        border-color: white;
    }

    .p_bienvenida{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        font-size: 10px;
        color: #0058FF;
    }
}

@media screen and (min-width: 541px) { 

    .container_div{
        display: block !important;
    }
}