.div_nav_movil{
    background-color: #7E84A3;
    display: none;
}

@media screen and (max-width: 541px) {
    .div_nav_movil{
        margin-top: 10px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .icon_navbarmovil{
        flex-grow:1;
		text-align:center;
        color: #D7DBEC;
    }
}