.dataTables_info{
    display: none !important;
}

.table-foot{
    display: none !important;
}

.page-item{
    border-color: #000;
    border: 1px solid #ccc;
}

.pagination .page-item.active .page-link {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.MuiFormControl-root{
    background-color: white !important;
}

.MuiSelect-select:focus{
    background-color: white !important;
}

.PrivateNotchedOutline-root-16 {
    top: -2px !important;
}

.makeStyles-formControl-12 {
    margin-left: 0px !important;
}

.rowsPerPageSelect{
    padding-left: 0px !important;
}

.rowsearch{
    margin-left: 1px !important;
}

.MuiOutlinedInput-notchedOutline {
    top: -3px !important;
}

.MuiTableCell-root {
    border-left: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
}